<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Processsoft.ConnectionString" value="Database=mercutio2;Data Source=localhost;User Id=root;Password=root"/>
    <add key="mercutio2" value="Database=mercutio2;Data Source=localhost;User Id=root;Password=root"/>
    <add key="mercutio3" value="Database=mercutio3;Data Source=localhost;User Id=root;Password=root"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
