<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <!--Trace switch for enable Ole Database connection tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="OleConnectionTrace" value="0"/>

      <!--Trace switch for enable Ole DataSet operations tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="OleDataSetTrace" value="0"/>

      <!--Trace switch for enable TCase table operations tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="Table_TCaseTrace" value ="0"/>

      <!--Trace switch for enable TOperatingSystems table operations tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="Table_TOSTrace" value ="0"/>

      <!--Trace switch for enable TPriority table operations tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="Table_TPriorityTrace" value ="0"/>

      <!--Trace switch for enable TState table operations tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="Table_TStateTrace" value ="0"/>

      <!--Trace switch for enable TType table operations tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="Table_TTypeTrace" value ="0"/>

      <!--Trace switch for enable TUsers table operations tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="Table_TUsersTrace" value ="0"/>

      <!--Trace switch for enable Modify Case Form tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="ModifyCaseTrace" value ="0"/>

      <!--Trace switch for enable Modify OS Form tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="ModifyOSTrace" value ="0"/>

      <!--Trace switch for enable Modify Priority Form tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="ModifyPriorityTrace" value ="0"/>

      <!--Trace switch for enable Modify State Form tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="ModifyStateTrace" value ="0"/>

      <!--Trace switch for enable Modify Type Form tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="ModifyTypeTrace" value ="0"/>

      <!--Trace switch for enable Modify Users Form tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="ModifyUsersTrace" value ="0"/>

      <!--Trace switch for enable Config File tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="ConfigFileTrace" value ="0"/>

      <!--Trace switch for enable Main Form tracing
          0 = off
          1 = errors only
          2 = errors and warnings
          3 = errors, warnings and infos messages
          4 = verbose mode -->
      <add name="MainTrace" value ="0"/>
    </switches>
  </system.diagnostics>
</configuration>
